* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: .3em;
  font-family: "Georgia",serif;
  background-color: #f1f1f1;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  margin-bottom: .3em;
  font-family: "Georgia",serif;
}

ul {
  list-style: circle;
}

li {
  position: relative;
  width: 99%;
  margin-bottom: 0.2em;
}

li::before {
  position: absolute;
  display: inline-block;
}

li a {
  display: inline-block;
}

li {
  display: inline-block;
}

h3 {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: .3em;
  font-family: "Garamond",serif;
}

table {
  margin-right:auto;
  margin-left:0em;
}

th {
  font-family: "Georgia",serif;
  text-align: center;
  font-size: 1.2em;
  padding: .2em;
  margin-bottom: 0.2em;
}

td {
  text-align: center;
  padding-left: .5em;
  padding-right: .5em; 
}



