h1 {
  text-align: center;
  font-size: 5em;
  margin-bottom: .3em;
  font-family: "Georgia",serif;
}

table {
  margin: .3em;
  width: 290px;
}

th {
  padding: .2em;
}

td {
  padding-left: .5em;
  padding-right: .5em; 
}
